<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Informatics</h1>
            <span>Technical University, Munich</span>
            <span><address>Munich, Germany</address><time>Expected graduation March, 2019</time></span>
        </header>
        <p>
            <em>Thesis: Anomaly Detection in Traffic Time-series Data</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Computer Science</h1>
            <span>Independent University, Bangladesh</span>
            <span><address>Dhaka, Bangladesh</address><time>2008 to 2012</time></span>
        </header>
    </article>
</section>
