<section class="thirteen columns">
    <h1>Academic Employment</h1>
    <article>
        <header>
            <h1>Lecturer @ Dept of CSE, Independent University, Bangladesh</h1>
            <span><address>Dhaka, Bangladesh</address><time>Jan, 2014 to present (on study-leave)</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Scientific Assistant @ Technical University, Munich</h1>
            <span><address>Munich, Germany</address><time>July 2018 to present</time></span>
        </header>
    </article>
</section>

<section class="thirteen columns">
    <h1>Industry Employment</h1>
    <article>
        <header>
            <h1>Mean Stack Developer and Cloud Administrator @ EVALU GMBH</h1>
            <span><address>Munich, Germany</address><time>Dec, 2016 to May, 2018</time></span>
        </header>
        <p>
            <span>Cloud Management on AWS</span>,
            <span>System Design and Development on AWS</span>,
            <span>Programming RESTful API</span>,
            <span>Data Visualization Interface Development</span>,
            <span>Database design and implementation</span>
        </p>
    </article>
    <article>
        <header>
            <h1>Remote Web Developer @ Designtoprint</h1>
            <span><address>UTAH, UK</address><time>May 2012 to Dec, 2013</time></span>
        </header>
        <p>
            <span>Hosting Administration</span>,
            <span>Development and management of complex web applications</span>
        </p>
    </article>
    <article>
        <header>
            <h1>Web Application Developer @ WEBPERS</h1>
            <span><address>Dhaka, Bangladesh</address><time>Apr, 2011 to May, 2012</time></span>
        </header>
        <p>
            <span>Web backend development</span>,
            <span>Databases design and administration</span>
        </p>
    </article>
</section>
