<section class="thirteen columns">
  <h1>Funding and Awards</h1>
  <article>
    <header>
      <ul>
        <li>Awarded a government-funded training scholarship to participate at “Training of Java Enterprise Development”. INFOSYS LTD arranged this world-class industry training at Infosys global education center, Mysore, Bangalore, India.</li>
        <li>Awarded MAGNA CUM LAUDE for outstanding academic performance (stood 1st in the CSE department) and securing C.G.P.A. 3.87 out of 4</li>
        <li>Awarded full tuition waiver for Bachelor of Science Degree on the basis of merit at Independent University, Bangladesh, Year 2008.</li>
      </ul>
    </header>
  </article>
</section>
