<section class="thirteen columns">
    <h1>Extracurricular Activities</h1>
    <article>
        <header>
            <h1>Founder and first executive chairperson of IEEE IUB Student Branch</h1>
            <span><address>Independent University, Bangladesh</address></span>
        </header>
        <p>
            Key responsibilities involved organizing different academic workshops and industrial tours for student members.
        </p>
    </article>
    <article>
        <header>
            <h1>Microsoft Student Partner</h1>
            <span><address>Independent University, Bangladesh</address></span>
        </header>
        <p>
            Key responsibility was to establish and maintain a relationship between the university and Microsoft Bangladesh
        </p>
    </article>
</section>
