<section class="thirteen columns">
    <h1>PROFESSIONAL TRAINING</h1>
    <article>
        <header>
            <h1> Training on Java Enterprise Application Development @ INFOSYS LTD</h1>
            <span><address>Bangalore, India</address><time>Jan, 2015 to Mar 2015</time></span>
        </header>
        <p>
            Successfully completed and secured a position among TOP 5 best performers out of 100 
        </p>
    </article>
    <article>
        <header>
            <h1>Cloud Computing and Big Data @ Islamic University of Technology, Bangladesh</h1>
            <span><address>Dhaka, Bangladesh</address><time>Dec, 2015</time></span>
        </header>
        <p>
            Hands-on Experience on Cloud Management and Openstack; Duration 5 days 
        </p>
    </article>
</section>
