
<section class="thirteen columns">
  <h1>Publications</h1>
  <article>
    <header>
      <h1>Journal</h1>
      <span>Rakibul Alam, Bruce Poon, Mahmood Kazi Mohammed, M. Ashraful Amin, Hong Yan, “Annotating Retina Fundus Images for Teaching and Learning Diabetic Retinopathy Software”, IT in Industry (Online Journal), vol. 2, no. 2, 2014</span>
      <span>Rakibul Alam, Ali Shihab Sabbir. "Web Application for Generating Dynamic Surveys Deployable Over Mobile Devices." Journal of the Electronics Society (ISSN 1816-1510) Vol-13, 2013</span>
    </header>
    <header>
      <h1>Conference</h1>
      <span>Rakibul Alam, Aunnoy K Mutasim, Bruce Poon, M. Ashraful Amin, “Data Collection for Local Government and Visualization for Efficient e-Governance”, ICITA – 2015 (Sydney, Australia)</span>
      <span>Aunnoy K Mutasim, Rakibul Alam, Bruce Poon, M Ashraful Amin, “User Feedback Based Mobile Camera Application Development”, ICITA – 2015 (Sydney, Australia)</span>
      <span>Mahady Hasan, Rakibul Alam, "Performance Evaluation of Furthest K Neighbors Queries in Spatial Databases", ICAEE – 2013</span>
    </header>
  </article>
</section>
