
<section class="thirteen columns">
  <h1>Publications</h1>
  <article>
    <header>
      <h1>Journal</h1>
      <ul>
        <li>Rakibul Alam, Bruce Poon, Mahmood Kazi Mohammed, M. Ashraful Amin, Hong Yan, “Annotating Retina Fundus Images for Teaching and Learning Diabetic Retinopathy Software”, IT in Industry (Online Journal), vol. 2, no. 2, 2014</li>
        <li>Rakibul Alam, Ali Shihab Sabbir. "Web Application for Generating Dynamic Surveys Deployable Over Mobile Devices." Journal of the Electronics Society (ISSN 1816-1510) Vol-13, 2013</li>
      </ul>
    </header>
    <header>
      <h1>Conference</h1>
      <ul>
        <li>Md Rakibul Alam, Ilias Gerostathopoulos, Christian Prehofer, Alessandro Attanasi, Tomas Bures, “Framework for tunable anomaly detection”, in the Proceedings of ICSA, 2019 (Hamburg, Germany)</li>
        <li>Md Nazmul Hoq, Rakibul Alam, M Ashraful Amin, "Prediction of Possible Asthma Attack From Air Pollutants: Towards a high-density air pollution map for smart cities to improve living", in the Proceedings of ECCE, 2019 (Cox’s Bazar, Bangladesh)</li>
        <li>Ashish M. Husain, Tazrin Hassan Rini, Mohammed Ikramul Haque, Md. Rakibul Alam, "Air Quality Monitoring with Arduino and Android", 11th Global Engineering, Science and Technology Research Conference, 2015 (Dhaka, Bangladesh) (Best Paper Award)</li>
        <li>Rakibul Alam, Aunnoy K Mutasim, Bruce Poon, M. Ashraful Amin, “Data Collection for Local Government and Visualization for Efficient e-Governance”, ICITA – 2015 (Sydney, Australia)</li>
        <li>Aunnoy K Mutasim, Rakibul Alam, Bruce Poon, M Ashraful Amin, “User Feedback Based Mobile Camera Application Development”, ICITA – 2015 (Sydney, Australia)</li>
        <li>Mahady Hasan, Rakibul Alam, "Performance Evaluation of Furthest K Neighbors Queries in Spatial Databases", ICAEE – 2013</li>
      <ul>
    </header>
  </article>
</section>
